In [3]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as pp

%matplotlib inline

In [4]:
Planets = pd.read_csv("Planets.csv")

In [5]:
Planets

,Planet,Mass,Diameter,DayLength,SunDistance,OrbitPeriod,OrbitVelocity,Temperature,SurfacePressure,Rings,MagneticField
0,MERCURY,0.3300,4879,4222.6,57.9,88,47.4,167.0,0.00000,No,Yes
1,VENUS,4.8700,"12,104",2802,108.2,224.7,35.0,15.0,92.00000,No,No
2,EARTH,5.9700,"12,756",24,149.6,365.2,29.8,-20.0,1.00000,No,Yes
3,MOON,0.0730,3475,708.7,NaN,27.3,1.0,-65.0,0.01000,No,No
4,MARS,0.6420,6792,24.7,227.9,687,24.1,-110.0,NaN,No,No Yes
5,JUPITER,1898.0000,"1,42,984",9.9,778.6,4231,13.1,-140.0,NaN,Yes,Yes
6,SATURN,568.0000,"1,20,536","10,7",1433.5,"10,747",5.4,-195.0,NaN,Yes,Yes
7,URANUS,86.8000,"51,118",17.2,2872.5,"30,589",4.7,-200.0,NaN,Yes,Yes
8,NEPTUNE,102.0000,"49,528",16.1,4495.1,"59,800",NaN,-225.0,0.00001,Yes,NaN
9,PLUTO,0.0146,2370,153.3,5906.4,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
Planets = pd.read_csv("Planets.csv",usecols =[0,1,2,3])

In [7]:
Planets

     Planet       Mass  Diameter DayLength
0   MERCURY     0.3300      4879    4222.6
1    VENUS      4.8700    12,104      2802
2     EARTH     5.9700    12,756        24
3     MOON      0.0730      3475     708.7
4      MARS     0.6420      6792      24.7
5  JUPITER   1898.0000  1,42,984       9.9
6   SATURN    568.0000  1,20,536      10,7
7    URANUS    86.8000    51,118      17.2
8   NEPTUNE   102.0000    49,528      16.1
9     PLUTO     0.0146      2370     153.3

In [9]:
Planets.Mass

0       0.3300
1       4.8700
2       5.9700
3       0.0730
4       0.6420
5    1898.0000
6     568.0000
7      86.8000
8     102.0000
9       0.0146
Name: Mass, dtype: float64

In [13]:
Planets.loc['MERCURY':'EARTH']

Empty DataFrame
Columns: [Planet, Mass, Diameter, DayLength]
Index: []

In [16]:
Planets=pd.read_csv('Planets.csv')

In [20]:
Planets.columns

Index(['Planet', 'Mass', 'Diameter', 'DayLength', 'SunDistance', 'OrbitPeriod',
       'OrbitVelocity', 'Temperature ', 'SurfacePressure', 'Rings',
       'MagneticField'],
      dtype='object')

In [29]:
print(Planets.columns)

Index(['Planet', 'Mass', 'Diameter', 'DayLength', 'SunDistance', 'OrbitPeriod',
       'OrbitVelocity', 'Temperature ', 'SurfacePressure', 'Rings',
       'MagneticField'],
      dtype='object')

In [6]:
Planets = pd. read_csv ('Planets.csv')
planets.set_index ('Planet', inplace=True)
planets. FirstVisited [ 'MERCURY']

NameError: name 'pd' is not defined

In [3]:
2018 Planets.Planet.dt.year

NameError: name 'Planets' is not defined