In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as pp
%matplotlib inline

In [2]:
planets = pd. read_csv ('Planets.csv')
planets

,Planet,Mass,Diameter,DayLength,SunDistance,OrbitPeriod,OrbitVelocity,Temperature,SurfacePressure,Rings,MagneticField
0,MERCURY,0.3300,4879,4222.6,57.9,88,47.4,167.0,0.00000,No,Yes
1,VENUS,4.8700,"12,104",2802,108.2,224.7,35.0,15.0,92.00000,No,No
2,EARTH,5.9700,"12,756",24,149.6,365.2,29.8,-20.0,1.00000,No,Yes
3,MOON,0.0730,3475,708.7,NaN,27.3,1.0,-65.0,0.01000,No,No
4,MARS,0.6420,6792,24.7,227.9,687,24.1,-110.0,NaN,No,No Yes
5,JUPITER,1898.0000,"1,42,984",9.9,778.6,4231,13.1,-140.0,NaN,Yes,Yes
6,SATURN,568.0000,"1,20,536","10,7",1433.5,"10,747",5.4,-195.0,NaN,Yes,Yes
7,URANUS,86.8000,"51,118",17.2,2872.5,"30,589",4.7,-200.0,NaN,Yes,Yes
8,NEPTUNE,102.0000,"49,528",16.1,4495.1,"59,800",NaN,-225.0,0.00001,Yes,NaN
9,PLUTO,0.0146,2370,153.3,5906.4,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
import pandas as pd

planets = pd.read_csv('Planets.csv', usecols=[0, 1, 2, 5])

print(planets)

     Planet       Mass  Diameter OrbitPeriod
0   MERCURY     0.3300      4879          88
1    VENUS      4.8700    12,104       224.7
2     EARTH     5.9700    12,756       365.2
3     MOON      0.0730      3475        27.3
4      MARS     0.6420      6792         687
5  JUPITER   1898.0000  1,42,984        4231
6   SATURN    568.0000  1,20,536      10,747
7    URANUS    86.8000    51,118      30,589
8   NEPTUNE   102.0000    49,528      59,800
9     PLUTO     0.0146      2370         NaN

In [7]:
planets ['Mass']

0       0.3300
1       4.8700
2       5.9700
3       0.0730
4       0.6420
5    1898.0000
6     568.0000
7      86.8000
8     102.0000
9       0.0146
Name: Mass, dtype: float64

In [8]:
planets. Mass

0       0.3300
1       4.8700
2       5.9700
3       0.0730
4       0.6420
5    1898.0000
6     568.0000
7      86.8000
8     102.0000
9       0.0146
Name: Mass, dtype: float64

In [11]:
planets.index

RangeIndex(start=0, stop=10, step=1)

In [15]:
planets. loc [5]

Planet         JUPITER
Mass             1898.0
Diameter       1,42,984
OrbitPeriod        4231
Name: 5, dtype: object

In [16]:
planets.set_index ('Planet')

               Mass  Diameter OrbitPeriod
Planet
MERCURY      0.3300      4879          88
VENUS        4.8700    12,104       224.7
EARTH        5.9700    12,756       365.2
MOON         0.0730      3475        27.3
MARS         0.6420      6792         687
JUPITER   1898.0000  1,42,984        4231
SATURN     568.0000  1,20,536      10,747
URANUS      86.8000    51,118      30,589
NEPTUNE    102.0000    49,528      59,800
PLUTO        0.0146      2370         NaN

In [17]:
planets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Planet       10 non-null     object
 1   Mass         10 non-null     float64
 2   Diameter     10 non-null     object
 3   OrbitPeriod  9 non-null      object
dtypes: float64(1), object(3)
memory usage: 448.0+ bytes

In [21]:
planets.loc['VENUS']

KeyError: 'VENUS'